<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.one.fruitmanseller">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:hardwareAccelerated="true"
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/fruitman"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.update_password.UpdatePasswordActivity"/>
        <activity android:name=".ui.maps.MapsActivity" />
        <activity android:name=".ui.forgot_password.ForgotPasswordActivity" />
        <activity android:name=".ui.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.update_profile.UpdateProfilActivity"
            android:label="Edit profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.in_progress.InProgressActivity"
            android:label="Daftar Dalam Proses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.complete.CompleteActivity"
            android:label="Daftar Transaksi Selesai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order_in.OrderInActivity"
            android:label="Daftar Pesanan Masuk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.product.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="Fruitman Seller" >
        </activity>

        <service android:name=".utils.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>